body {
	background-color: lightgray;
}

.box{
	display: inline-block;
	margin: 20px;
	width: 35%;
}

h1, h2, h3 {
	font-size: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 20px;
}

p {
	font-size: 25px;
}
